
  
<main class="flex items-center justify-center h-full flex-col text-black mt-10">
  <div *ngIf="jugador">
    <app-detail [jugador]="jugador"></app-detail>
  </div>

  <div class="flex flex-row justify-between gap-4 text-black p-4 w-3/4 border-b-2">
    <h1 class="text-4xl">Equipo FrontMobi</h1>
    <div class="flex flex-row items-center gap-4">
      <div>
        <label for="filtro">
          Filtrar por:
          <select name="filtro" id="filtro" class="bg-white rounded-2xl p-2" #tipo>
            <option value="1">Nombre</option>
            <option value="2">Posición</option>
            <option value="3">Edad</option>
          </select>
        </label>
      </div>
      <div>
        <label for="buscar">
          Buscar:
          <input (keyup)="filtrarJugadores(filter.value, tipo.value)" #filter type="text" name="buscar" id="buscar" class="bg-white rounded-2xl p-2" placeholder="Buscar...">
        </label>
      </div>
    </div>
  </div>

  <div class="flex flex-row flex-wrap gap-4 w-3/4">
    <app-players [jugadores]="jugadores" [filterType]="filterType" [filterValue]="filterValue"></app-players>
  </div>
</main>
